@use "./base.scss";

// put your custom CSS here!
.callout {
  &[data-callout="custom"] {
    --color: #ffd700;
    --border: #2d1a47;
    --bg: #4d2a00;
    --callout-icon: url("data:image/svg+xml; utf8, <custom formatted svg>"); //SVG icon code
  }
}
